@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
.bg{
    background-color: black;
    font-family: 'Source Code Pro', monospace;
}
#dummy{
    height: 8vh;
    width: 100vw;
}
.logo {
    height: 35px;
    width: auto;
    margin-right: 10px;
    border-radius: 30px;
  }
  #name{
      font-size: 2em;
      padding-right: 20px;
      color: white;
  }
.CodeMirror {
  font-family: "Ubuntu Mono";
  line-height: 1.2em;
  height: 600px;
}




.gradient{
    height: 200px;
    width: 100%;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: -32px;
}
.course{
    height: 260px;
    float: left;
    width: 380px;
    margin-left: 20px;
    margin-right: 3px;
    margin-top: 20px;
    background-color: white;
    box-shadow:5px 5px 10px grey;
}
.course:hover{
	box-shadow: 15px 15px 25px gray;
}
.course h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
    padding-top: 5px;
    padding-left: 14%;
    color: #0d3e75;
}
.course a{
    padding-left: 10%;
    margin-top: 5%;
}
img{
	width:291px;
	 height:171px;
}